[tool.poetry]
name = "parafac2"
version = "0.1.0"
description = ""
authors = ["Aaron Meyer <git@asmlab.org>"]
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.10,<3.13"
numpy = "^1.26"
scipy = "^1.11"
tensorly = "0.8.1"
tqdm = "^4.66.1"
cupy-cuda12x = "^12.2.0"
anndata = "^0.10.3"


[tool.poetry.group.dev.dependencies]
pytest = "^7.4.0"
pytest-cov = "^4.1.0"
mypy = "^1.7"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
