[tool.poetry]
name = "parafac2"
version = "0.1.0"
description = "An implementation of PARAFAC2 that handles sparsity for single cell data."
authors = ["Aaron Meyer <git@asmlab.org>"]
maintainers = [
    "Aaron Meyer <git@asmlab.org>",
    "Andrew Ramirez",
]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = ">=3.12,<3.13"
numpy = "^1.26"
scipy = "^1.12"
tensorly = "0.8.1"
tqdm = "^4.66"
cupy-cuda12x = "^13.0"
anndata = "^0.10"
scikit-learn = "^1.4.2"
pacmap = "^0.7.2"
analyticpf2 = { git = "https://github.com/meyer-lab/analytic-Pf2.git", rev = "6125a4d07980da96601fc2cf6deb823a3237b17e" }


[tool.poetry.group.dev.dependencies]
pytest = "^8.0"
pytest-cov = "^4.1"
mypy = "^1.10"
ruff = "^0.4"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
